<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nz.gen.geek_central.ti5x"
    android:versionCode="8"
    android:versionName="15611.5"
>
    <uses-sdk
        android:minSdkVersion="7"
    />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:label="@string/app_name"
        android:icon="@drawable/icon"
        android:debuggable="true"
    >
        <activity
            android:name="Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:configChanges="orientation"
        >
            <!-- launchMode = singleTask needed to avoid relaunching when user responds to notification -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="PrinterView"
        />
        <activity
            android:name="Help"
            android:launchMode="singleTask"
        />
            <!-- launchMode = singleTask needed to stop multiple Help activities being
                launched if user leaves finger on label card - FLAG_ACTIVITY_CLEAR_TOP
                in the Intent should be enough according to docs, but it's not -->
        <activity
            android:name="Picker"
            android:screenOrientation="portrait"
        />
        <activity
            android:name="SaveAs"
            android:windowSoftInputMode="stateVisible"
        />
    </application>
</manifest>
