<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nz.gen.geek_central.ti5x"
    android:versionCode="1"
    android:versionName="15118.3">
    <uses-sdk
        android:minSdkVersion="7"
    />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:label="@string/app_name"
        android:icon="@drawable/icon"
    >
        <activity
            android:name="Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="PrinterView"
        />
        <activity
            android:name="Help"
        />
        <activity
            android:name="Picker"
        />
        <activity
            android:name="SaveAs"
        />
    </application>
</manifest> 
